a{
    text-decoration: none;
}
.text-selected{
    color: #3cb878;
}
.text-selected:hover{
    margin-bottom: -1px;
    border-bottom: 1px solid #3cb878;
}
.container{
    background-image: url(../img/bgd.png);
    height: 768px;
    background-size: cover;
    position: relative;
}
.menu{
    display: flex;
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
}
.menu-logo{
    font-family: Verdana;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 81px;
    margin-top: 20px;
}
.menu-logo:hover{
   color: #3cb878; 
}
.icon{
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    width: 30px;
    height: 22px;
    margin-top: 19px;
    margin-right: 12px;
}
.icons{
    margin-left: 735px;
}
.icon-1{
    background-position: -100px -48px;
}
.icon-1:hover{
    background-position: -100px -9px;
}
.icon-2{
    background-position: -57px -9px;
}
.icon-2:hover{
    background-position: -9px -9px;
}
.icon-3{
    background-position: -45px -49px;
    border-right: 1px solid #312e2c;
    padding-right: 15px;
}
.icon-3:hover{
    background-position: -5px -49px;
}
.menu-text{
    margin-right: 6px;
    margin-top: 22px;
    display: inline-block;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.box{
    position: absolute;
    top: calc(50% - 584px/2);
    left: calc(50% - 444px/2);
    border: 1px solid #fff;
    border-radius: 9px;
    background-color: #fff;
    width: 444px;
    height: 624px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.box-head{
    margin-top: 28px;
    display: flex;
    margin-bottom: 30px;/*+16*/
}
.green-square{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 42px;
    margin-left: -2px;
}
.slogan{
    font-family: Verdana;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    margin-right: 205px;
}
.box-link{
   font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; 
}
.loginBtn{
    border-radius: 3px;
    width: 157px;
    height: 46px;
    font-family: Verdana;
    color:  #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
}
.icon-f{
    width: 10px;
    height: 20px;
    border-right: 1px solid #848484;
    margin-right: 18px;
    padding-right: 17px;
    padding-top: 4px;
}
.icon-g{
    width: 25px;
    height: 16px;
    border-right: 1px solid #848484;
    margin-right: 24px;
    padding-right: 9px;
    padding-top: 6px;
}
.loginBtn-facebook{
    margin-left: 62px;
    background-color: #305db8;
    padding: 15px 17px 13px 20px;/*-36*/
}
.loginBtn-facebook:hover{
    background-color: #264b96;;
}
.loginBtn-google{
    background-color: #df4a32;
    padding: 15px 30px 13px 13px;/*-34*/
}
.loginBtn-google:hover{
    background-color: #c3412c;
}
.input-intro{
    display: flex;
    margin-top: 28px;
    margin-bottom: 15px;
}
.box-line{
    width: 135px;
    color: #848484;
}
.or{
    font-family: Verdana;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    }
.forms{
    display: block;
    max-width: 350px;
    margin-left: 60px;
}
.form-input{
    border-radius: 3px;
    width: 305px;
    height: 46px;
    border-color: rgba(0, 0, 0, 0.21);
    margin-bottom: 16px;
    padding-left: 17px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.checkbox-text{
    font-family: Verdana;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 1px;
    margin-bottom: 28px;
}
.checkbox-text:checked{
    color: #39ba78;
}
.button{
    font-family: Verdana;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border: 1px solid #39ba78;
    background-color: #39ba78;
    border-radius: 3px;
    padding: 16px 100px;
}
.button:hover{
    background-color: #2f9b65;
}
