.container{
    background-image: url(../img/background.png);
    width: 1366px;
    height: 768px;
    display: flex;
}

.logo-link{
    margin-left: 147px;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    height: 18px;
}
.icon{
    background: url(../img/logo.png) no-repeat;
    display: inline-block;
    width: 65px;
    height: 55px;
}
.logo-link:hover .icon{
    background-position: -65px 0; 
}
.logo-text{
    padding-top: 11px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    width: 125px;
}
.logo-link:hover .logo-text{
    color: #f26522;
}
.logo-text-2{
    font-size: 18px;
}
.contact{
    display: flex;
    flex-direction: row-reverse;
    font-family: Verdana;
    color:  #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    width: 243px;
    position: relative;
    top: 57px;left: 637px;
}
.content{
    display: flex;
    position: absolute;
    top: 141px;left: 157px;
    flex-wrap: wrap;
    height: 548px;
    align-content: space-between
}
.content-item{
    margin-right: 68px;
    position: relative;
    cursor: pointer;
}
.content-img{
    box-shadow: 0px -2px 0.5px #fff,0px 2px 0.5px #000;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 0 100%;
    width: 307px;
    height: 200px;
}
.content-text{
    font-family: Verdana;
    color:  #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-top: 20px;
}
.content-item:hover .content-text{
    color: #f26522;
}
.details{
    width: 313px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    left: -1px;
    bottom: 41px;
    opacity: 0;
}
@keyframes move{
    0%{bottom:-10px;opacity:0;}
    75%{opacity: 0.5;}
    100%{bottom: 41px;opacity: 1;}
}
.content-item:hover .details{
    opacity: 1;
    animation: move 1s ease-in-out;
}
.details-price{
    font-family: Verdana;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    padding-top: 16px;
    padding-left: 21px;
}
.price{
    font-family: Verdana;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #fff;
    padding-left: 21px;
}
.details-link{
    font-family: Verdana;
    color:  #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    text-decoration: none;
    margin-left: 126px;
}
.footer{
    font-family: Verdana;
    color:  #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 737px;
    margin-left: -66px;
}