.logo {
    display: inline-block;
    font-family: 'Lato',sans-serif;
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-left: 101px;
    margin-right: 101px;
    margin-top: 61px;
}
.text-selected {
    display: inline-block;
    font-family: 'Lato',sans-serif;
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
.header-menu {
    float: left;
    position: relative;
    background-color:  #35444f;
    width: 1180px;
    height: 69px;
    margin-left: 101px;
    margin-top: 45px;
}

.header-menu-link{
    display: block;
    float: left;
    padding: 25px 0;
    font-family: 'Lato',sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header-menu-left {
    margin-left: 173px;
}

.header-menu-link-a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-menu-link-a:hover {
    background-color: #222f3a;
    border: 1px solid #ffffff;
    padding-left: 29px;
    padding-right: 29px;
}

.menu {
    display: block;
    border: 1px solid #222f3a;
    width: 344px;
    height: 399px;
    position: relative;
    top: 51px;
    left: 101px;
    float: left;
}
  
.menu-link {
    display: block;
    font-family: 'Lato',sans-serif;
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    line-height: 80px;
    padding-left: 44px;
}

.menu-link:hover{
    color: #000000;
    background-color: #dcdcdc;
    border: 0 solid;
    padding-left: 69px;
    padding-right: 60px;
}

.content {
    display: flex;
    border: 1px solid #222f3a;
    width: 783px;
    height: 529px;
    position: relative;
    left: 173px;
    top: 50px;
    justify-content: center;
}

.content-img {
    padding-top: 75px;
    width: 320px;
    height: 381px;
}

.content-img:hover {
    padding-top: 65px;
    width: 340px;
    height: 401px;
    transition: 1s;
}

.content-text-pad {
    margin-top: 200px;
}

.content-text {
    display: block;
    font-family: 'Lato',sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0px 100px 50px 526px;
}

.footer {
    display: block;
    border: 1px solid #b5b8bb;
    background-color: #b5b8bb;
    width: 1180px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.footer-menu {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #010000;
    font-family: 'Lato',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    padding-left: 22px;
}

.footer-menu:after {
	display: block;
	position: relative;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #3181a6; /*задаём цвет линии*/
	content: "";
	transition: width 0.4s ease-out; /*задаём время анимации*/
}

.footer-menu:hover {
    color: #3181a6;
    transition: 0.4s;
}

.footer-menu:hover:after,footer-menu:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.footer-menu-copy {
    display: inline-block;
    font-family: 'Lato',sans-serif;
    text-align: right;
    padding-left: 150px;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}

