.header {
    padding: 40px 330px 0;
}

.header-menu {
    margin-right: 75px;
    color: #16a085;
    font-family: 'Lato',sans-serif;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.photo {
    height: 790px;
    width: 100%;
    padding-top: 40px;
}

.main-text {
    font-family: 'Lato',sans-serif;
    padding-left: 113px;
    padding-right: 113px;
    color: #373737;
    text-align: center;
}

.main-h1 {
    font-size: 22pt;
    padding-top: 55px;
    padding-bottom: 35px;
}

.text {
    font-size: 16pt;
    padding-bottom: 40px;
}

.footer {
    padding-top: 40px;
}

.footer-start{
    display: block;
    font-family: 'Lato',sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color:  #16a085;
    text-decoration: none;
    border: 2px solid #16a085;
    position: relative;
    margin: 41px 561px 94px 527px;
    padding-top: 20px;
    width: 192px;
    height: 51px;
    text-align: center;
}

.footer-text {
  font-family: 'Lato',sans-serif;
  font-size: 16pt;
  color: #373737;
  text-align: right;
  padding-right: 104px;
  padding-top: 45px;
  padding-bottom: 47px;
}
