body{
    background-color: #374765;
}

table{
    background-color: #fafafa;
    width: 95.6%;
    border-collapse: collapse;
    margin-top: 24px;
    margin-bottom: 24px;
}
td:not(:first-child), th:not(:first-child){
    border-left: 1px solid #dbdbdb;
}
tr:first-child td:nth-child(n+2){
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
}
tr:first-child td:nth-child(2){
    background-color: #89c331;
    font-size: 24px;
}
tr:first-child td:nth-child(3){
    background-color: #f04a56;
    font-size: 30px;
}
tr:first-child td:nth-child(4){
    background-color: #20807c;
    font-size: 24px;
}
tr:nth-child(n+3) td, th{
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 29px;
    padding-bottom: 27px;
}
tr:first-child td:first-child{
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 55px 72px;
}
tr:nth-child(2n+3){
    background-color: #f2f2f2;
}
tr:nth-child(2n+4){
    background-color: #e3e3e3;
}
.price-1{
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    padding-left: 33px;
    display: inline;
    position: relative;
}
.price-2{
    position: absolute;
    margin-top: -13px;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
tr:nth-child(2) td:nth-child(n+1){
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-top: 25px;
}
.icon{
    width: 33px;
    height: 30px;
}
icon-p{
    margin-right: 20px;
}